<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>

</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Selection Workouts</title>
    <link rel="stylesheet" href="../css-files/style-menu.css">
</head>
<body>
<div class="wrapper">
    <h1>Select youre workout</h1>
    <nav class="vertical">
        <ul>
            <li>
                <a href="home-user.html">Home</a>
                <div>
                    <ul>
                        <li><a href="workouts/ArmsWorkouts.html">Arms</a></li>
                        <li><a href="workouts/BackWorkouts.html">Back</a></li>
                        <li><a href="workouts/ChestWorkouts.html">Chest</a></li>
                        <li><a href="workouts/Legs-Workowts.html">Legs</a></li>
                        <li><a href="workouts/ShouldersWorkouts.html">Shoulders</a></li>
                        <li><a href="workouts/ProgramFitness.html">Beginner</a></li>
                        <li><a href="workouts/Cross-Fit.html">CrossFit</a></li>
                        <li><a href="Nutrition-Plan.html">Nutrition</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <p class="atancion">Use opinion of proffesionalist befor your first workouts</p>

</div>
</body>
</html>
</body>
</html>