<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="../Posts/new-post-style.css">
    <link rel="stylesheet" href="../Posts/form-style.css">
    <link rel="stylesheet" href="../Posts/main-style.css">
    <link rel="stylesheet" href="../Posts/style.css">
</head>
<body>
{{#blogPosts}}
<li class="single-post">
    <article id="post-{{postId}}">
        <div class="dot">&nbsp;</div>
        <h3 class="title">{{title}}</h3>
        <p class="subtitle">Posted on {{date}} by {{author}}</p>
        <p class="content">{{content}}</p>
    </article>
</li>
{{/blogPosts}}
</body>
</html>