<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cros Fit</title>
    <link rel="stylesheet" href="../../css-files/stylesWorkouts.css">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>CrossFit Workouts</h1>
    </header>
    <nav>
        <ul>
            <a href="../../templates/home-user.html"><li>Home</li></a>
            <a href="http://www.nutritionexpress.com/"><li>Store</li></a>
            <a href="../../templates/menu.html"><li>Workouts</li></a>
            <a href="../../templates/Nutrition-Plan.html"><li>Nutrition</li></a>
            <a href="#"><li>Contacts</li></a>
        </ul>
        <div class="handle">Menu</div>
    </nav>
    <section>
        <div class="killer-crossfit">
            <h2>Killer Crossfit Workouts</h2>
            <img src="../../images/BodyWorkouts/crossfit-workowts.jpg" alt="crossfit">
                <p>
                    Love it or hate it, CrossFit has found its place in the fitness world.
                    Not sure what you think about it? Before you decide, try one of these workouts.
                </p>
                <p>
                    CrossFit requires a certain level of "crazy." Not serial killer crazy, but crazy
                    in that hardcore, "won't quit 'til I'm dead, and even after death I'll burst from
                    my coffin and train like a freaking machine," kind of way.
                </p>
                <p>
                    Because CrossFit workouts can be so brutal, I sometimes feel damn near
                    silly for almost killing myself three times per week. Generally
                    speaking, however, I'm proud that I can kick more @ss and take more names
                    than "Joey Dudebro" doing curls in front of the gym mirror.
                </p>
        </div>
        <div>
            <h2>
                WOD, WTF?
            </h2>
            <p>
                If you're a CrossFit virgin, you've probably never heard of a WOD,
                or workout of the day. Basically, you can head to a CrossFit gym or
                check out CrossFit online to grab a complete daily workout.
            </p>
            <p>
                I don't always do the CrossFit-prescribed WOD; sometimes I fish through the backlog and look
                for particularly brutal sessions. Otherwise, I might chat with CrossFit vets and get the lowdown
                on an awesome workout.
            </p>
            <p>
                These 5 CrossFit workouts have stuck out in my mind, maybe because my body keeps reminding it.
            </p>
            <p>
                Some were chosen because they are difficult, others because they are fun,
                and others because they're an excellent demonstration of what the human body can do.
            </p>
            <p>
                So drop the dumbbells and give these WODS a shot, I dare you!
            </p>
        </div>
    </section>
         <form action="#" method="post">
             <h3>Post a comment</h3>
             <p>
                 <label for="name">Name</label>
                 <input name="name" id="name" type="text" required>
             </p>
             <p>
                 <label for="email">E-mail</label>
                 <input name="email" id="email" type="email" required />
             </p>
             <p>
                 <label for="website">Website</label>
                 <input name="website" id="website" type="url" />
             </p>
             <p>
                 <label for="comment">Comment</label>
                 <textarea name="comment" id="comment" required></textarea>
             </p>
             <p><input type="submit" value="Post comment" /></p>
         </form>
    <footer>
        <p> NaCepin &copy;</p>
    </footer>
</div>
</body>
</html>