<!doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../css-files/styles-home.css">
</head>
<body>
<header>
    <h1>The best Fitness blog</h1>
</header>
<nav>
    <ul>
        <li><a href="loginForm.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="#">Contacts</a></li>
    </ul>
</nav>
<section id="intro" >
</section>
<section>
    <article class="blogPost">
        <div class="content">
            <h3>Discount Supplements and Sports Nutrition</h3>
            <p>

                The Supplement Store has been one of the leading online Supplements and Sports Nutrition retailers since 2001.
                If you're looking for the very latest brands and products from across the world, you're in the right place!
                We now stock over 100 brands including Grenade, Reflex Nutrition Optimum Nutrition, Mutant, PhD Nutrition,
                USN, Sci-MX and MaxiNutrition (formally Maximuscle). Our most popular supplements include Pre-Workout,
                Whey Protein Powders, Creatine, All-In-One's and our new range of high protein snacks & crisps...
                <button type="button">Read more</button>
            </p>
        </div>
        <div>
            <h3>What's new?</h3>
            <p>Check here for the latest articles released on Bodybuilding.com!
                This page will always contain our most recent articles.
                What's New? Now you know!
                Stay up-to-date with the latest and greatest Bodybuilding.com content.
                This page will always display the most recent Bodybuilding.com articles.
                Keep up with the most cutting-edge and relevant information on training, nutrition,
                supplementation, and motivation.
                Want to know what's new? Make this page your first stop...
                <button type="button">Read more </button>
            </p>
        </div>
        </div>
    </article>
</section>
</body>
</html>


