<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../css-files/style-register.css">
</head>
<body>
<div class="user-login-block">
    <form class="user-register">
        <h1 class="form-title">Username:</h1>
        <input type="text" value="" placeholder="Enter Username" id="username" />
        <h1 class="form-title">Full Name:</h1>
        <input type="text" value="" placeholder="Enter Full Name" id="full-name" />
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" placeholder="Enter password" id="password" />
        <h1 class="form-title">Confirm Password:</h1>
        <input type="password" value="" placeholder="Re-Enter password" id="pass-confirm" />
        <br>

        <button type="button" id="register-request-button">Register</button>
    </form>
    <a href="loginForm.html">Login here</a>
</div>
</body>
</html>